<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732080608183-ga9jke5jcefp6qbrqqd0j7mbivjv1moq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732080608183-ga9jke5jcefp6qbrqqd0j7mbivjv1moq</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ8MGoCkpuhWyV6TbuwDuKeoYROfsuHFE</string>
	<key>GCM_SENDER_ID</key>
	<string>732080608183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>m01tyan.symoney</string>
	<key>PROJECT_ID</key>
	<string>symoney-sakura</string>
	<key>STORAGE_BUCKET</key>
	<string>symoney-sakura.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732080608183:ios:3595ae4539f60b0a</string>
	<key>DATABASE_URL</key>
	<string>https://symoney-sakura.firebaseio.com</string>
</dict>
</plist>